data/raw/eCH0071_240301.xml filter=lfs diff=lfs merge=lfs -text
data/raw/leaflets/leaflet_contents.json filter=lfs diff=lfs merge=lfs -text
data/raw/leaflets/leaflets_merged.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/national_votes.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/swissvotes.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/votes.csv filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_10.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_4.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_5.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_7.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_8.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_9.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_0.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_11.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_1.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_2.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_3.parquet filter=lfs diff=lfs merge=lfs -text
data/intermediate/controls/socioeconomic_6.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/summary_topics.csv filter=lfs diff=lfs merge=lfs -text
